*{
 margin: 0rem;

}
.box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}

.start{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 20vh;
}
