* {
  margin: 0rem;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}

.start {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.player {
  border: 1px solid black;
  padding: 0.7rem;
  font-size: 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  opacity: 0.7;
}

#xplayer {
  color: red;
}

#oplayer {
  color: blue;
}

.board {
  display: grid;
  grid-template-columns: repeat(3,5rem);
  grid-template-rows: repeat(3,5rem);
  gap:1rem;
}
.cell{
 border: 0.5px solid ;
 border-radius: 5px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.cell:hover{
 background-color: #dddddd;
}

.restart {
    margin-top: 30px;
    width: 7rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s background;
}
.restart {
    background:lightgray ;
}

.picking {
  font-size: 1.5rem;
  margin: 0 1rem;
  color: #333;
}
